<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>
    <!-- Icon -->
    
    <div class="fadeIn first" id="logo">
        <img src="{{ url_for('static', filename='image/logo.png') }}" style="width:90px;height:90px;"  id="icon" alt="FindMyMovies Logo" >
      </div>  
      
      <!--Navigation-->
      <div class="nav fadeIn" >
        <a href="{{url_for('home')}}" >
          <div  class="navActive" class="fadeIn first" id="navContent"   >
              <img  src="{{ url_for('static', filename='image/home.png') }}" width="50px" height="50px" >
            </div>
        </a>
        <a href="{{url_for('login')}}" >  
          <div  class="fadeIn third" id="navContent"  >
            <img   src="{{ url_for('static', filename='image/login.png') }}" width="50px" height="50px" />
            </div>
        </a>
      </div>
      <!--Introduction-->
    <div class="wrapper fadeInDown "style="font-size: 20px;">
        <div id="formContent" style="max-width: max-content;padding: 30px;" >
            <dl id='font_mobile' class="fadeIn second"><dt><h3 style="color:#56baed">ABOUT</h3 ></dt><dd style="text-align: justify;"> <b>Finding Movies</b> is my Final Year Project to develop a machine learning model that is able to recommend movies based on user's personality. 
            </dd></dl>
            <dl id='font_mobile' class="fadeIn third"><dt><h3 style="color: #56baed;">HOW IT WORKS?</h3 ></dt><dd style="text-align: justify;" > We collect psychometric data of people, based on BIG FIVE model, and group users based on their psychometric scores. Similar personalities tend to have similar taste. The movies that users have rated highly are then recommended to similar users that haven't watched it yet.   
            </dd></dl>
            <dl id='font_mobile' class="fadeIn fourth"><dt><h3 style="color: #56baed;">HOW TO USE?</h3 ></dt><dd style="text-align: justify;"> You have to register yourself on this website, fill-up a questionnaire and then rate movies that you have already watched. The system will then produce recommendations about which movies you should watch next. It's always fun to experiment :)
            </dd></dl>
 
        </div>



        </div>
    
</body>
</html>


