
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <!-- Bootstrap core CSS -->
   <!-- <link href="../css/bootstrap.min.css" rel="stylesheet"> -->
   <!-- <link href="../css/style.css" rel="stylesheet"> -->


  </head>

    <!-- Icon -->
    
    <div class="fadeIn first" id="logo">
      <img src="{{ url_for('static', filename='image/logo.png') }}" style="width:90px;height:90px;"  id="icon" alt="FindMyMovies Logo" >
    </div>
    <div class="fadeIn first" >
      <a style='position:absolute;top: 0;right: 0;' href="{{url_for('rec')}}">See Recommendations</a>
    </div>    
    
    <!--Navigation-->
    <div class="nav fadeIn" >
      <a href="{{url_for('home')}}">
        <div  class="fadeIn second" id="navContent"  >
            <img  src="{{ url_for('static', filename='image/home.png') }}" width="50px" height="50px" >
        </div>
      <a href="{{url_for('questions')}}" >  
      <div  class="fadeIn second" id="navContent"  >
        <img   src="{{ url_for('static', filename='image/questions.png') }}" width="50px" height="50px" />
        </div>
    </a>
    <a href="{{url_for('movies')}}" id="20000" >  
      <div class="navActive" class="fadeIn first" id="navContent"  >
        <img   src="{{ url_for('static', filename='image/movie.png') }}" width="50px" height="50px" />
        </div>
    <a href="{{url_for('logout')}}" >  
      <div  class="fadeIn third" id="navContent"  >
        <img   src="{{ url_for('static', filename='image/logout.png') }}" width="50px" height="50px" />
        </div>
    </a>
    </div>
  



  <div class="wrapper fadeInDown">
    <div id="formContent" style="max-width:max-content;">
      <!-- Tabs Titles -->
      <form id="searchForm" >
        <input type="text" class="form-control" id="searchText" placeholder="Search A Movie....">
        <p id="error_display" style="color: red;display: none;">No Search Results..Try Something Else</p>
      </form>

      <div id="movies" style="max-width:max-content;"  ></div>

    </div>
  </div>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
     <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script> -->
    
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
</html>









<script>
  $(document).ready(() => {
  $("#searchForm").on('submit', (e) => {
    e.preventDefault();
    let searchText = $("#searchText").val();
    getMovies(searchText);
  });
});

function getMovies(searchText){
  //Removing Error Message
  document.getElementById("error_display").style.display='none'
  //make request to api using axios
  // Make a request for a user with a given ID
  axios.get("https://api.themoviedb.org/3/search/movie?api_key=98325a9d3ed3ec225e41ccc4d360c817&language=en-US&query=" + searchText)
    .then(function (response) {
      let movies = response.data.results;
      if (movies.length != 0){

  
      
      let output = '';
      $.each(movies, (index, movie) => {
        
        try {
        var year = movie.release_date;
        var text = '(';
        for (i = 0 ; i < 4; i++){
          text += year[i];
        }
        text += ')';
            }
        catch(err) {
          text += ' ';
          }   






        output+=`
          
        <div  style="border:10px solid RGB(30, 70, 138);">
        <br>  
              <img class="center" src="https://image.tmdb.org/t/p/w500${movie.poster_path}" style="width:600;height:350;box-shadow: 5px 10px;">
              <a onclick="movieSelected('${movie.id}')"  class="btn btn-primary" href="#" target="_blank"><h2 class="active underlineHover"><b>${movie.title}</b></h2></a>
               <span >${text}</span>
              <span id="circle">${movie.vote_average}</span>
              <br><br>
              <form id=${movie.id} method=POST action="{{url_for('movies')}}" target="dummyframe" onsubmit="myFunction(this.id)">
              <input class="fadeIn second"  type=hidden name="titleID" value=${movie.id} >
              <label>Rate It:</label>
              <input style='size:4px'; class="fadeIn third" type="number" name="rating" min="1" max="10" class="list-group-item" placeholder="1-10" >
              <input style='padding:10px 25px'; type='submit' class="fadeIn fourth" value="submit" id='changestate' >
              </form>
              
          
        </div>
        `;
      });
      $('#movies').html(output);}
      else{
        document.getElementById("error_display").style.display='block'
      }
    })
    .catch(function (error) {
      console.log(error);
    });
}

function movieSelected(id){
  sessionStorage.setItem('movieId', id);
  window.location = 'movie.html';
  return false;
}

function getMovie(){
  let movieId = sessionStorage.getItem('movieId');
  // Make a request for a user with a given ID
  axios.get("https://api.themoviedb.org/3/movie/" + movieId + "?api_key=98325a9d3ed3ec225e41ccc4d360c817")
    .then(function (response) {
    let movie = response.data;
    //console.log(movie);
    let output = `
        <div class="row">
          <div class="col-md-4">
            <img src="https://image.tmdb.org/t/p/w500${movie.poster_path}" class="thumbnail">
          </div>
          <div class="col-md-8">
            <h2>${movie.title}</h2>
            <ul class="list-group">
              <li class="list-group-item"><strong>Genre:</strong> ${movie.genres[0].name}, ${movie.genres[1].name}</li>
              <li class="list-group-item"><strong>Released:</strong> ${movie.release_date}</li>
              <li class="list-group-item"><strong>Rated:</strong> ${movie.vote_average}</li>
              <li class="list-group-item"><strong>Runtime:</strong> ${movie.runtime} min.</li>
              <li class="list-group-item"><strong>Production Companies:</strong> ${movie.production_companies[0].name} min.</li>
              <br>
              <h4>User Submission</h2>
              <form class = "list-group" method=POST action="{{url_for('movies')}}">
              <input id="titleID" type=hidden value=${movie.id}>
              <label>Your Rating:</label>
              <input id="rating" class="list-group-item" type="number" id="quantity" name="quantity" min="1" max="10"><br>
              <label>Comments:</label>
              <textarea id="comment" class="list-group-item" placeholder="Optional" rows="4" cols="50"></textarea><br>
              </form>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="well">
            <h3>Plot</h3>
            ${movie.overview}
            <hr>
            <a href="http://imdb.com/title/${movie.imdb_id}" target="_blank" class="btn btn-primary">View IMDB</a>
            <a href="index.html" class="btn btn-default">Go Back To Search</a>
          </div>
        </div>
    `;
    $('#movie').html(output);
    })
    .catch(function (error) {
      console.log(error);
    });
}

</script>

<script>
  //Change state after submiting
  function myFunction(x) {
    var y = document.getElementById(x);
    y.querySelector("#changestate").value = "Done!"; 
    y.querySelector("#changestate").style.background = '#4dff4d';
    y.querySelector("#changestate").style.color = 'black';
}
</script>