<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>h3{padding-top: 100px;}</style>
  <title>PERSONALITY</title>

</head>
<body>

    <!-- Icon -->
  <div class="fadeIn first" id="logo">
      <img src="{{ url_for('static', filename='image/logo.png') }}" style="width:90px;height:90px;"  id="icon" alt="FindMyMovies Logo" >
  </div>  

    <!--Navigation-->
  <div class="nav fadeIn" >
    <a href="{{url_for('home')}}" >
      <div  class="fadeIn first" id="navContent"   >
          <img  src="{{ url_for('static', filename='image/home.png') }}" width="50px" height="50px" >
        </div>
    </a>
    <a href="{{url_for('questions')}}" >  
      <div class="navActive" class="fadeIn third" id="navContent"  >
        <img   src="{{ url_for('static', filename='image/questions.png') }}" width="50px" height="50px" />
        </div>
    </a>
    <a href="{{url_for('movies')}}" id="20000" >  
      <div  class="fadeIn third" id="navContent"  >
        <img   src="{{ url_for('static', filename='image/movie.png') }}" width="50px" height="50px" />
        </div>
    <a href="{{url_for('logout')}}" >  
      <div  class="fadeIn third" id="navContent"  >
        <img   src="{{ url_for('static', filename='image/logout.png') }}" width="50px" height="50px" />
        </div>
    </a>
  </div>
  

  <!--QUESTIONS FORM-->
  




  <div class="wrapper fadeInDown ">
    <div id="formContent" class="fadeIn second" style="max-width: max-content;padding: 30px;font-size: 20px;text-align: left;">
      <form method='POST'  id='font_mobile'>
        <img src="{{image}}" alt="" id='image_result'>

        </form>



    </div>



    </div>








</body>


</html>
